#div1 {
       height: 400px;
       width: 800px;
       border: 1px solid black
       }

#div2 {
       height: 250px;
       width: 600px;
       border: 1px solid black;
       float: left;
       overflow: hidden;
       }

#div3 {
       height: 100px;
       width: 150px;
       border: 1px solid black;
       float: right;
       overflow: hidden;
       }
#img1{
       height: 100%;
       width: 100%;
       padding: auto;
       display: block;
       }
#img2{
       height: 100%;
       width: 100%;
       padding: auto;
       display: block;
       }
